/* vote */
.jumbotron.vote {
    background-color: #02fd89;
}
.jumbotron.vote h1{
    text-decoration: solid;
    color:#6820a3;
}
.jumbotron.vote p{
    text-decoration: solid;
    color:#6820a3;
}

